header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background-color: #212121;
  border-bottom: 1px solid #212121;
  box-shadow: 0 0 4px #fafafa;
}
